---

---

<div class="container mx-auto md:columns-2 gap-0">
  <a href="www.google.com">
    <div class="relative group mb-2 md:mb-0">
      <img
        src="https://incessantrain.com/public/storage/media/image/1/307647941_102674609276009_2149601038728533595_n.jpg"
        alt="GURKHAS VS NINJAS"
      />
      <div
        class="absolute bottom-[3rem] font-bold text-2xl uppercase text-white left-1/2 -translate-x-1/2 z-10 drop-shadow-md"
      >
        <h2 class="card-title group-hover:-translate-y-2 ease-in-out duration-100 text-shadow-sm">GURKHAS VS NINJAS</h2>
      </div>
    </div>
  </a>

  <a href="www.google.com">
    <div class="relative group">
      <img src="https://incessantrain.com/public/storage/media/image/1/Anime/trolls-min.jpg" alt="Trolls" />
      <div class="absolute bottom-[3rem] font-bold text-2xl uppercase text-white left-1/2 -translate-x-1/2 z-10">
        <h2 class="card-title group-hover:-translate-y-2 ease-in-out duration-100 text-shadow-sm">Trolls</h2>
      </div>
    </div>
  </a>

  <a href="www.google.com">
    <div class="relative group">
      <img src="https://incessantrain.com/public/storage/media/image/1/Anime/hotweels-min.jpg" alt="TEAM HOTWHEELS" />
      <div class="absolute bottom-[3rem] font-bold text-2xl uppercase text-white left-1/2 -translate-x-1/2 z-10">
        <h2 class="card-title group-hover:-translate-y-2 ease-in-out duration-100 text-shadow-sm">TEAM HOTWHEELS</h2>
      </div>
    </div>
  </a>

  <a href="www.google.com">
    <div class="relative group">
      <img src="https://incessantrain.com/public/storage/media/image/1/Anime/cars-animation-min.jpg" alt="LEGO CARS" />
      <div class="absolute bottom-[3rem] font-bold text-2xl uppercase text-white left-1/2 -translate-x-1/2 z-10">
        <h2 class="card-title group-hover:-translate-y-2 ease-in-out duration-100 text-shadow-sm">LEGO CARS</h2>
      </div>
    </div>
  </a>
</div>
