---
import Layout from '~/layouts/PageLayout.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';
import CardsBlock from '~/components/widgets/CardsBlock.astro';

const metadata = {
  title: 'Art',
};

const images = [
  {
    src: 'https://incessantrain.com/public/storage/media/image/1/Anime/trolls-min.jpg',
    alt: 'Trolls',
    videoId: 'Sfz9jQ3KI5k',
  },
  {
    src: 'https://incessantrain.com/public/storage/media/image/1/Anime/hotweels-min.jpg',
    alt: 'TEAM HOTWHEELS',
    videoId: 'Z5NoQg8LdDk',
  },
  {
    src: 'https://incessantrain.com/public/storage/media/image/1/307647941_102674609276009_2149601038728533595_n.jpg',
    alt: 'GURKHAS VS NINJAS',
    videoId: 'dQw4w9WgXcQ',
  },
  {
    src: 'https://incessantrain.com/public/storage/media/image/1/Anime/cars-animation-min.jpg',
    alt: 'LEGO CARS',
    videoId: 'u5CVsCnxyXg',
  },
];
---

<Layout metadata={metadata}>
  <CallToAction
    title="TODO: "
    subtitle="Slider"
    actions={[
      {
        variant: 'primary',
        text: 'Go to Homepage',
        href: '/',
      },
    ]}
  />

  <section class="container mx-auto mb-4 md:mb-8">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi autem atque nam, eaque labore itaque numquam
      veritatis architecto cupiditate debitis ea unde rerum suscipit beatae voluptates quo perferendis omnis dicta.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi illo officia officiis saepe libero sapiente minus
      et, consectetur ab iusto! Similique modi veritatis incidunt placeat voluptatum ab deleniti! Quas, nulla.
    </p>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi illo officia officiis saepe libero sapiente minus
      et, consectetur ab iusto! Similique modi veritatis incidunt placeat voluptatum ab deleniti! Quas, nulla.
    </p>
  </section>

  <div class="mb-4 md:mb-8">
    <CardsBlock images={images} />
  </div>
</Layout>
