---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Carousel, { type SlideProp } from '~/components/common/Carousel';
import CardsBlock from '~/components/widgets/CardsBlock.astro';

const metadata = {
  title: 'Triyaa Tantric Animation Studios',
  ignoreTitleTemplate: true,
};

const images = [
  {
    src: 'https://incessantrain.com/public/storage/media/image/1/307647941_102674609276009_2149601038728533595_n.jpg',
    alt: 'GURKHAS VS NINJAS',
    videoId: 'dQw4w9WgXcQ',
  },
  {
    src: 'https://incessantrain.com/public/storage/media/image/1/Anime/trolls-min.jpg',
    alt: 'Trolls',
    videoId: 'Sfz9jQ3KI5k',
  },
  {
    src: 'https://incessantrain.com/public/storage/media/image/1/Anime/hotweels-min.jpg',
    alt: 'TEAM HOTWHEELS',
    videoId: 'Z5NoQg8LdDk',
  },
  {
    src: 'https://incessantrain.com/public/storage/media/image/1/Anime/cars-animation-min.jpg',
    alt: 'LEGO CARS',
    videoId: 'u5CVsCnxyXg',
  },
];

const slides: SlideProp[] = [
  {
    src: 'https://incessantrain.com/public/storage/sliders/GVN101_065 (2)_1680001276.jpg',
    alt: 'test',
  },
  {
    src: 'https://incessantrain.com/public/storage/sliders/JKRY_001_1676014385.jpg',
    alt: 'test',
  },
  {
    src: 'https://images.unsplash.com/photo-1515133997814-e6460be24073?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
    alt: 'test',
  },
  {
    src: 'https://images.unsplash.com/photo-1514900065139-77d4e95afc1d?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
    alt: 'test',
  },
  {
    src: 'https://incessantrain.com/public/storage/sliders/StrangerThings_001_1676014364.jpg',
    alt: 'test',
  },
  {
    src: 'https://incessantrain.com/public/storage/sliders/HOuse of the dragon_001_1675936310.jpeg',
    alt: 'test',
  },
  {
    src: 'https://images.unsplash.com/photo-1515133997814-e6460be24073?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
    alt: 'test',
  },
  {
    src: 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png',
    alt: 'test',
  },
  {
    src: 'https://images.unsplash.com/photo-1514900065139-77d4e95afc1d?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
    alt: 'test',
  },
];
---

<Layout metadata={metadata}>
  <Carousel client:load slides={slides} />

  <!-- Hero Section 1 -->
  <div class="mt-30">
    <Hero image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}>
      <Fragment slot="title">
        <span class="text-accent dark:text-white highlight">Triyaa Tantric Animation Studios</span>
      </Fragment>

      <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          We specialize in
          <span class="font-semibold">3D character Animation</span>
          crafting mesmerizing
          <span class="font-semibold">visual effects</span>
          for feature films and television. 3D character animation, crafting mesmerizing visual effects for feature films
          and television. From
          <span class="font-semibold"> game cinematics</span>
          to trailers, commercials, documentaries, and beyond, we bring imagination to life.
        </span>
        <!-- <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span> -->
      </Fragment>
    </Hero>
  </div>

  <!-- Masonry Block 1 -->
  <div class="mb-4 md:mb-8">
    <CardsBlock images={images} />
  </div>

  <Features2
    title="Contact us"
    items={[
      {
        title: 'Phone',
        description: '+977 (9841) 123-4567',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'triyaa@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: '1234 Lorem Ipsum St, 12345, Miami, EEUU',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
