---
import Layout from '~/layouts/PageLayout.astro';
import ProjectDetailCarousel from '~/components/common/ProjectsDetailCarousel.tsx';

const metadata = {
  title: 'Technology',
};
---

<Layout metadata={metadata}>
  <section class="body-font container mx-auto my-6 sm:my-8 lg:my-12">
    <div class="my-6 sm:my-8 lg:my-12">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <!-- <p class="mb-2 font-semibold md:mb-3 lg:text-lg">Introducing</p> -->

        <h2 class="mb-4 text-2xl font-bold md:mb-6 lg:text-3xl">Technology</h2>

        <p class="max-w-screen-md md:text-lg">
          This is a section of some simple filler text, also known as placeholder text. It shares some characteristics
          of a real written text but is random or otherwise generated.
        </p>
      </div>
    </div>

    <ProjectDetailCarousel client:load />
  </section>
</Layout>
